// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.separated {
	padding: 5px 0 5px 0;
	border-bottom: 1px solid #bbbbbb;
}

.separated:last-child {
	padding: 5px 0 5px 0;
	border-bottom: none;
}

.colored-box {
	background-color: rgba(255,255,255,0.9) !important;
	border-radius: 10px;
	border: 1px solid #bbbbbb;
}

h1 {
	text-align: center
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #bbbbbb;
}

#inner {
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px 20px 20px 20px;
}

.center {
	text-align: center
}

html { 
	background: image-url("movie_theater.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	background-color: transparent !important;
}

#movie-img {
	width: 100%;
	height: auto;
}

#submit-button {
	margin: 10px;
	padding: 3px;
}

#inner p {
	text-align: center;
}

#black-text {
	color: white;
	background-color: black;
	padding: 2px;
}

.plot-padding {
	padding-bottom: 10px;
}

/* Typeahead CSS */

.tt-menu {
  width: 160px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

/*.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.tt-highlight {
    color:red;
}*/